<div class="main login_form">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form login_form">
      <div class="form-body">
        <%= form_with(model: @user, url: login_path, local: true) do |f| %>
          <div class="error-message">
            <!-- バリデーションのエラーメッセージとは異なる。
            「find_byメソッドで検索したが存在しなかった」という結果を伝えるためのものなので以下のような記載になる -->
            <% if @error_message %>
              <%= @error_message %>
            <% end %>
          </div>

          <%= f.email_field :email %>
          <%= f.password_field :password %>
          <%= f.submit "ログインする" %>
        <% end %>
      </div>
    </div>
  </div>
</div>